```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.local
.env
.env.local
.env.*
.env.local.*
.env.vault
.pytest_cache/
.mypy_cache/
.coverage
coverage/
htmlcov/
*.cover
.hypothesis/
.eggs/
*.egg-info/
.installed.cfg
*.egg
.nox/
.tox/
.coverage.*
.coverage
nosetests.xml
coverage.xml
*.coveragerc
.pyup.yml
.recommends.cache
.DS_Store
Thumbs.db
```